/* ----------------
Banner Section
------------------- */

.banner-section {
    background-image: url(/programming-hero-resources/banner-01.png);
    margin: 0px 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.content {
    padding: 300px 450px;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-weight: 400;
}
.content p {
    font-size: 32px;
}
.content h2 {
    font-size: 72px;
    font-weight: 900px;
    width: 500px;
    margin: 0 auto;
}

/* -------------
65% OFF section
---------------- */

.content-01 h1 {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.content-01 p {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.content-01 h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}
.offer-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
